@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,700,800&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 10px;
    background: #edeef0;
}

nav img {
    width: 25px;
    height: 25px;
    margin-left: 125px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;
    font-size: 1.5em;
    padding: 15px;
    margin-right: 260px;
    font-weight: 800;
    cursor: pointer;
}


h1,
h4 {
    font-weight: 800;
}

#home {
    background-color: yellow;
    width: 100%;
    height: 670px;
}

#home h1 {
    display: flex;
    justify-content: center;
    padding: 40px;
    font-size: 3em;
}

#home div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.bitmojiImage {
    width: 100%;
    height: 100%;

}

.bitmojiNames {
    width: 75%;
    height: 50%;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

#home div p {
    display: flex;
    justify-content: center;

    font-size: 1.3em;
    margin-right: 10px;
}


.buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: black;
    margin: 60px;
    background: white;
    border-radius: 25px;


}

.buttons:hover {
    color: green;
}

#container div h4 {
    margin-top: 20px;

    font-size: 1.5em;

}

#container ul li {
    font-weight: lighter;
    list-style: none;
    text-align: justify;

}

#container div {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.language {
    display: flex;
    margin-left: 190px;

}

#container select {
    margin-top: 10px;
    margin-left: 195px;
    font-weight: lighter;
    text-align: justify;
    margin-bottom: 5px;
    opacity: 40%;

}

footer {

    background-color: black;
    color: white;


}

footer ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    text-align: center;
    font-weight: lighter;
    font-size: 1.4em;
    margin-right: 600px;

}